body {
    background-color: white;
    font-family: $font-family;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }

 .navbar {
     border-bottom: 4px solid dodgerblue;
 }

 .container{
   padding-top: 20px;
 }
 h4{
   color: #0a3e5c;
 }

.modal{
  background: #000000bf;
  z-index: 3;
  .modal-body{
    padding: 30px !important;
    overflow: scroll;
  }
  .modal-dialog{
    top: 25%;
  }
}
.modal-backdrop{
  display: none;
}

.blueTitle{
  margin-top: 5px;
  margin-bottom: 5px;
  color: #0a3e5c;
  font-weight: bold;
}

.button{
  margin-right: 20px;
}
.mainButton{
  margin-top: 20px;
  width: 300px;
}

.error{
  color: darkred;
  font-style: italic;
  font-size: 12px;
  margin-bottom: 20px;
}
