.navbar{
    background: #0a3e5c;
    border-bottom: #d6550a;

    .menu.selected {
        font-weight: bold;
        border-bottom: 2px solid #d6550a;
        text-decoration: none;
        width: fit-content;
    }
    .menu{
        color: white !important;
    }
    a{
        color: white !important;
    }
    .menu{
        display: flex;
        .nav-item{
            flex: 1 1 auto;
            flex-direction: row;
        }
    }

}

