.adminConsoleContainer{
  .skillsContainer{
    width: 50%;
    padding: 15px;
    .tag{
      background: rgba(111, 133, 149, 0.62);
      border-radius: 5px;
      width: fit-content;
      display: inline-block;
      padding: 6px;
      margin-top: 5px;
      margin-left: 15px;
      color: white;
      .deleteIcon{
        display: none;
      }
    }
    .tag:hover{
      .deleteIcon{
        display: block;
        font-size: 15px;
        width: 19px;
        padding-left: 6px;
        color: white;
        background: #f04a0f;
        border-radius: 50%;
        position: absolute;
        margin-left: -15px;
        margin-top: -15px;
      }
    }
  }
  .userListed{
    background: #eceaea;
  }
  .userListContainer{
    cursor: pointer;
  }
}

