.userContainer{
  .graphContainer{
    margin-top: 60px !important;
  }

  margin-top: 20px;
  .chartDetails{
    margin-top: 40px;
  }
  .skillsToAddContainer{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .na{
    margin-top: 20px;
  }
}


